<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
    <!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
    <!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
    <!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
    <!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="MEDICOS A DOMICILIO, MEDICOS EN CASA, CONSULTA MEDICA DOMICILIARIA, MEDICOS A DOMICILIO EN BOGOTA, CONSULTA MEDICA DOMICILIARIA EN BOGOTA, HOSPITALIZACION EN CASA, HOSPITALIZACION DOMICILIARIA, AUXILIARES DE ENFERMERIA A DOMICILIO, ENFERMERIA A DOMICILIO, CURACIONES A DOMICILIO EN BOGOTA, ENFERMERAS A DOMICILIO, ENFERMERAS A DOMICILIO EN BOGOTA, TERAPIAS A DOMICILIO, TERAPIAS A DOMICILIO EN BOGOTA, TERAPIA RESPIRATORIA A DOMICILIO, TERAPIA OCUPACIONAL A DOMICILIO, TERAPIA DE LENGUAJE A DOMICILIO, TERAPIA FISICA A DOMICILIO, MEDICOS ESPECIALISTAS A DOMICILIO, TELEMEDICINA EN BOGOTA, TELEMEDICINA COLOMBIA, HOMECARE COLOMBIA, AREA PROTEGIDA"/>
            <meta name="viewport" content="width=1024, maximum-scale=2">
                <script>var SITE_URL = '{{ url:site }}'</script>
                <script>
				  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				
				  ga('create', 'UA-44376821-1', 'adomsaluddomiciliaria.com');
				  ga('send', 'pageview');
				
				</script>
            <meta name="title" property="og:title" content="{{ url:segments segment='1' }} prueba" />
            <meta name="description" property="og:description" content="Servicios de Salud domiciliaria" />
            <meta name="image" property="og:image" content="http://repositorio.imaginamos.com.co/FBZ/Adom/addons/default/themes/adom/img/fb-img.jpg" />
            <meta property="og:url" content="{{ url:site }}" />
                <title>ADOM Salud Domiciliaria</title>
                <link href="favicon.ico" rel="shortcut icon" />
                <link href="{{ url:site }}chat/views/stylesheet/stylesheet.css" rel="stylesheet" type="text/css" />
                {{ theme:css file="adom.css" }}
                {{ theme:css file="reset.css" }}
                {{ theme:css file="style_slider.css" }}
                {{ theme:js file="lib/handlebars.js" }}                
                {{ theme:css file="jquery.ketchup.css" }}





        </head>
        <body>
            <div class="bg_body"></div>
            <div class="header">
                <div class="content_940 clearfix">
                    <a href="{{url:site}}"><img src="{{ theme:image_url file='logo.jpg'}}" class="logo left" /></a>
                    <div class="right">
                        <a href="{{url:site}}english" class="btn_eng">English</a>
                        <div class="redes clearfix">
                            <a target="_blank" class="btn_fb"></a>
                            <a target="_blank" class="btn_yt"></a>
                            <a  target="_blank"  class="btn_in"></a>
                        </div>
                        <ul class="menu1 clearfix bold">
                            <li class="mainnav">
                                <a>Conócenos</a>
                                <ul class="subnav">
                                    <li>
                                        <a href="{{url:site}}quienes">Quiénes Somos</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}donde">Dónde Atendemos</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}services">Servicios</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mainnav">
                                <a href="{{url:site}}services">Servicios</a>
                                <ul class="subnav">
                                    <li>
                                        <a href="{{url:site}}servicios/consulta-medica-domiciliaria">Consulta Médica Domiciliaria</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}servicios/enfermeria">Enfermería</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}servicios/terapias">Terapias</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}servicios/hospitalizacion-en-casa">Hospitalización en Casa</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}servicios/telemedicina">Especialistas por Telemedicina</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="mainnav">
                                <a>Para Empresas</a>
                                <ul class="subnav">
                                    <li>
                                        <a href="{{url:site}}services_us">Nuestros Servicios</a>
                                    </li>
                                    <li>
                                        <a href="{{url:site}}area_protegida">Área Protegida</a>
                                    </li>	
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


