<div class="content_menu2">
    <div class="content_940 clearfix">
        <ul class="menu2 left">
            <li>
                <a href="{{url:site}}clientes">Clientes y Convenios</a>
            </li>
            <li>
                <a href="{{url:site}}novedades">Novedades </a>
            </li>
            <li>
                <a href="{{url:site}}faq">Preguntas Frecuentes</a>
            </li>
            <li>
                <a href="{{url:site}}trabaja">Trabaja con Nosotros</a>
            </li>
            <li>
                <a href="{{url:site}}contact">Contáctanos</a>
            </li>
        </ul>
        <img src="{{ theme:image_url file='img_tel.png'}}" class="right img_tel" />
    </div>
</div>