
<div class="footer-cont">
    <div class="footer">
        <div class="footer-col">
            <h3>MAPA DEL SITIO</h3>
            <ul class="footer-nav">
                <li><a href="{{ url:site }}about-us">QUIÉNES SOMOS</a></li>
                <li><a href="{{ url:site }}services">SERVICIOS</a></a></li>
                <li><a>ALQUILER DE INMUEBLES</a></li>
                <li><a href="{{ url:site }}blog">NOTICIAS</a></li>
                <li><a href="{{ url:site }}requirements">TRABAJE CON  NOSOTROS</a></li>
            </ul>
            <div class="trade">
                <p>Copyright © 2013 - <b>MTS</b> - Todos los derechos reservados.</p>
            </div>
        </div>

        <div class="footer-col middle">
            <h3>INFO DE CONTACTO</h3>
            <p>MTS COLOMBIA<br />
                Dir: Av (Cra) 70 No. 99 - 25<br />
                info@mts.com<br />
                PBX: (57 - 1) 271 4250 EXT. 110<br />
                Fax: (57 - 1) 533 1840<br />
                Bogotá, Colombia - Suramérica</p>
        </div>

        <div class="footer-col grey">
            <h3>SOBRE MTS</h3>
            <p>Donec dapibus sodales sodales. Curabitur vulputate lacinia erat sed venenatis. Cras eu accumsan enim. Nam faucibus lorem dui, nec dignissim erat feugiat a. Suspendisse id turpis pharetra justo porttitor bibendum at ac nisl. Aenean dapibus sem nunc, id volutpat libero placerat id.... <a>» Más información</a></p>
            <div class="footer-autor"><span id="ahorranito2"></span><a href="http://www.imaginamos.com" target="_blank">Diseño Web: </a><a href="http://www.imaginamos.com" target="_blank">imagin<span>a</span>mos.com</a></div>
            <div class="clear"></div>

        </div>

        <div class="clear"></div>
    </div>
</div>

<!-- slider interno -->
{{ theme:js file="jquery.carouFredSel-6.0.4-packed.js" }}
{{ theme:js file="litetabs.jquery.js" }}
<!---->



<!-- Datepicker -->
{{ theme:js file="jquery.ui.core.js" }}
{{ theme:js file="jquery.ui.widget.js" }}
{{ theme:js file="jquery.ui.datepicker.js" }}
{{ theme:js file="datepicker.es.js" }}


<!-- SELECT Y MULTISELECT -->
{{ theme:js file="chosen.jquery.js" }}
<!---->

<!-- PLACEHOLDER -->
{{ theme:js file="jquery.placeholder.js" }}
<!---->

<!-- FLEXSLIDER -->
{{ theme:js file="jquery.flexslider-min.js" }}
<!---->

<!-- SLIDER -->
{{ theme:js file="basic-jquery-slider.js" }}
<!---->

<!-- text area autosize -->
{{ theme:js file="jquery.autosize.js" }}
<!---->



<!-- scroll chat -->
{{ theme:js file="jquery.mousewheel.js" }}
{{ theme:js file="jquery.jscrollpane.js" }}
{{ theme:js file="scroll-startstop.events.jquery.js" }}
<!---->

<!-- SCROLLORAMA -->
{{ theme:js file="jquery.parallax-1.1.3.js" }}
{{ theme:js file="jquery.scrollorama.js" }}
<!---->

<!-- Acordeon -->
{{ theme:js file="lib/isotope/jquery.isotope.js" }}
{{ theme:js file="chili-1.7.pack.js" }}
{{ theme:js file="jquery.easing.js" }}
{{ theme:js file="jquery.dimensions.js" }}
{{ theme:js file="jquery.accordion.js" }}

{{ theme:js file="mts.js" }}
<!-- Video mp4 -->
{{ theme:js file="lib/video-js/video.js" }}
  <script>
      $('#habla_middle_div').addClass('pajaro');
    videojs.options.flash.swf = "{{ url:base }}uploads/default/files/video-js.swf";
  </script>
</body>
</html>