/***********************************************************************************************************************
DOCUMENT: style/format.css
DEVELOPED BY: Ryan Stemkoski
COMPANY: Zipline Interactive
EMAIL: ryan@gozipline.com
PHONE: 509-321-2849
DATE: 2/26/2009
DESCRIPTION: This document contains the structural formatting files for the accordion style menu.
************************************************************************************************************************/
#wrapper {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	}
	




.accordionButton {	
	width: 980px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	 background: url(../images/bgtabfq.png)
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
	}
	
.accordionContent {	
	width: 980px;
	float: left;
	_float: none; /* Float works in all browsers but IE6 */
	
	padding-bottom:20px;
	padding-top:20px;
	font-family: 'LucidaSansRegular';
	font-size:12px;
	color:#616161;
	text-align:justify;
	
	}
	
/***********************************************************************************************************************
 EXTRA STYLES ADDED FOR MOUSEOVER / ACTIVE EVENTS
************************************************************************************************************************/

.on {
	
	}
	
.over {

	}