sites/default/files
sites/default/private
sites/default/settings.php
cache/
nbproject
files/
/README.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL*.txt
/LICENSE.txt
/MAINTAINERS.txt
/UPGRADE.txt
robots.txt
sites/all/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt
.htaccess
.DS_Store
sites/all/modules/custom/.DS_Store

.DS_Store
