/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position: relative;
    width: 655px;
}
#carousel {
  font-family: Arial;
    font-size: 12px;
    height: 210px;
    margin: 0 auto;
    position: relative;
    width: 575px;
}
.carousel-image {
  border:0;
  display:block;
}
.carousel-feature {
  cursor: pointer;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    top: -1000px;
}
.carousel-feature .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:230px;
  padding:3px;
  margin:3px;
  background-color:#000;
  display: none !important;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:48px;
  top:210px;
  padding:0;
  margin:0;
  display: none !important;
}
.tracker-individual-container li {
  list-style:none;
}
.tracker-individual-container .tracker-individual-blip {
  margin:0 3px;
  padding:0 3px;
  color:white;
  text-align:center;
  background-color:#DDD;
}
.tracker-individual-container .tracker-individual-blip-selected {
  color:white;
  font-weight:bold;
  background-color:#000;
}
#carousel-left {
  bottom: 73px;
    cursor: pointer;
    left: 20px;
    position: absolute;
}
#carousel-right {
  bottom: 73px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
#carousel-left2 {
  bottom: 73px;
    cursor: pointer;
    left: 20px;
    position: absolute;
}
#carousel-right2 {
  bottom: 73px;
    cursor: pointer;
    position: absolute;
    right: 20px;
}
#carousel2 {
    font-family: Arial;
    font-size: 12px;
    height: 210px;
    margin: 0 auto;
    position: relative;
    width: 575px;
}
.carousel-image2 {
  border:0;
  display:block;
}
.carousel-feature2 {
  cursor: pointer;
    left: -1000px;
    overflow: hidden;
    position: absolute;
    top: -1000px;
}
.carousel-feature2 .carousel-caption {
  position:absolute;
  bottom:0;
  width:100%;
  background-color:#000;
}
.carousel-feature2 .carousel-caption p {
  margin:0;
  padding:5px;
  font-weight:bold;
  font-size:12px;
  color:white;
}