@import url("../fuentes/calibri/calibri.css");
html {

}
body {
  position: relative;
  margin:0px !important;
  /*background: URL("../images/body.jpg") center center repeat-y #9f000f;*/
  font-family: CalibriRegular;
  font-size: 15px;
  color: #fff;
}
#admin-menu {
  margin: 0px;
  top: -29px;
}
p {
  margin: 0px;
  margin-bottom: 5px;
}
strong{
  font-family: CalibriBold;
}
h2 {
  font-family: CalibriBold;
  margin: 0px;
  margin-bottom: 20px;
}
ul,
li {
  padding: 0px;
  margin: 0px;
}
table tbody {
  border: 0;
}
#page-wrapper {
  display: none;
  -moz-opacity: 0.00;
  opacity: 0.00;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
}
#cargainicio {
  z-index: 10;
  position: absolute;
  top: 0px;
  background: URL("../images/cargainicio.jpg") no-repeat top center #000747;
  height: 100%;
  width: 100%;
}

#top{
  min-height: 700px;
  background: URL("../images/top.jpg") no-repeat top center #000747;
}
#top .t-content{
  width: 1000px;
  height: 715px;
  margin: auto;
  padding-top: 20px;
}
#t-logo {
  text-align: center;
}
#content-wrapper {
  background: URL("../images/content.png") no-repeat top center;
  position: relative;
  bottom: 40px;
  overflow: visible;
  min-height: 700px;
}
#content-wrapper > * {
  width: 1000px;
  margin: auto;
}
#content-wrapper > #footer {
  margin-top: 90px;
}
#block-menu-menu-menu-principal{
  width: 100%;
  height: 80px;
  position: absolute;
  top: -37px;
  left: 0px;
}
#block-menu-menu-menu-principal > .content {
  width: 1100px;
  margin: auto;
  height: 100%;
  padding-left: 65px;
  background: URL('../images/ul-menu.png') left bottom no-repeat;
}
#block-menu-menu-menu-principal > .content li {
  background: URL('../images/precontent.png') center;
  list-style: none;
  text-align: center;
  display: -moz-inline-stack; /* FF2*/
  display: inline-block;
  vertical-align: top; /* BASELINE CORRECCIÓN*/
  padding: 5px;
  width: 110px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  zoom: 1; /* IE7 (hasLayout)*/
  *display: inline; /* IE */
}
#block-menu-menu-menu-principal > .content li:hover {
  -moz-opacity: 0.70;
  opacity: 0.70;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=70);
}
#block-menu-menu-menu-principal > .content li a{
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-family: CalibriBold;
  color:#fff200;
  font-size: 150%;
}
#block-menu-menu-menu-principal > .content li a:hover {
  text-decoration: none;
}
#pre-content .block-block {
  text-align: center;
  padding-top: 20px;
}

#quicktabs-navegacion_internas_baloto {
  /*overflow: hidden;*/
  position: relative;
  height: 600px;
  margin-top: 50px;
}
#quicktabs-navegacion_internas_baloto > .item-list {
  /*height: 620px;*/
  height: auto;
  /*overflow: hidden;*/
}

#quicktabs-navegacion_internas_baloto > .item-list > ul{
  padding-top: 65px;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li {
  width: 220px;
  padding-bottom: 25px;
  height: 30px;
  margin: 0px;
  text-align: left;
  line-height: 25px;
  padding-top: 23px;
  position: relative;
  bottom: 45px;
  background: URL("../images/second.png") 7px bottom no-repeat;

}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.active {
  background: URL("../images/second-active.png") 0px bottom no-repeat;
  border: 0;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li:not(.active):hover {
  background: URL("../images/second-hover.png") 7px bottom no-repeat;
}

#quicktabs-navegacion_internas_baloto > .item-list > ul > li.first {
  background: URL("../images/first.png") 4px bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.active.first {
  background: URL("../images/first-active.png") left bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.first:not(.active):hover{
  background: URL("../images/first-hover.png") 4px bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.last {
  background: URL("../images/last.png") 4px bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.last.active{
  background: URL("../images/last-active.png") left bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li.last:not(.active):hover{
  background: URL("../images/last-hover.png") 4px bottom no-repeat;
}
#quicktabs-navegacion_internas_baloto > .item-list > ul > li > a {text-align: left;
  display: block;
  width: 118px;
  font-size: 120%;
  color: #8A0D10;
  font-family: CalibriBold;
  padding-left: 90px;
  white-space: normal;
  line-height: 15px;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 6px;
}
#quicktabs-container-navegacion_internas_baloto {
  width: 650px;
  padding: 50px 40px 20px 55px;
  margin-left: 34px;
  border:0;
  background: URL("../images/quicktabs-container.png") top center repeat-x;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  right: 0px;
  top: 30px;
  /*
  height: 525px;
  width: 670px;
  background: URL("../images/t-content.png") top right no-repeat;
  border:0;
  padding: 20px 25px 15px 85px;
  margin-top: 55px;*/
}
#quicktabs-container-navegacion_internas_baloto strong {
  font-size: 140%;
}
.views-field-title > h2,
#block-views-preguntas-frecuentes-faq > h2,
.field-name-title h2,
.t-title,
#edit-title,
.block-views > h2{
  margin: 0px;
  font-family: CalibriBold;
  font-size: 300%;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #fff200;
}
#block-views-preguntas-frecuentes-faq > h2 > span,
.t-title span,
.t-title span.t-yellow,
.block-views > h2 span{
  color: #FFF;
  font-size: 105%;
}
.t-title span.t-red{
  color: #a40002;
  font-size: 100%;
}
/*#quicktabs-container-navegacion_internas_baloto #views-exposed-form-busqueda-sorteos-busqueda-sorteos .views-exposed-widgets .form-text{*/

#quicktabs-container-navegacion_internas_baloto #-baloto-consulta-numeros-sorteos-form #t-numeros-jugados .form-text{
  background: URL('../images/balotaunselect.png') center center no-repeat;
  width: 60px;
  height: 60px;
  border: 0px;
  text-align: center;
  color: #3A351F;
  font-family: Arial;
  font-weight: bold;
  font-size: 200%;
  line-height: 60px;
  text-shadow: 0px 0px 1px black;
  margin: 20px 40px 20px 0px;
}
#quicktabs-container-navegacion_internas_baloto #views-exposed-form-busqueda-sorteos-busqueda-sorteos .views-exposed-widgets .form-text.active {
  background: URL('../images/balotaselect.png') center center no-repeat;
}
#quicktabs-container-navegacion_internas_baloto #views-exposed-form-busqueda-sorteos-busqueda-sorteos .views-exposed-widgets .form-item {
  background: URL('../images/sombra-bal.png') left bottom no-repeat;
}
#quicktabs-container-navegacion_internas_baloto #views-exposed-form-busqueda-sorteos-busqueda-sorteos .views-exposed-widgets #edit-field-cifra-seis-value {
  margin-right:  0px;
}
#quicktabs-container-navegacion_internas_baloto #views-exposed-form-busqueda-sorteos-busqueda-sorteos .views-exposed-widgets .form-text:focus {
  outline: none;
}
#edit-field-fecha-sorteo-value-selective-wrapper {
  margin-top: 10px;
  float: none;
}
#edit-field-fecha-sorteo-value-selective-wrapper label{
  font-family: CalibriBold;
  font-size: 130%;
}
.form-type-select {
  font-weight: 600;
  height: 29px;
  line-height: 29px;
  color: #04284d;
  margin-top: 8px !important;
  margin-bottom: 30px !important;
}
select{
  height: 50px !important;
  padding-right: 38px;
  color: #04284d;
  width: 160px;
}
#edit-submit-busqueda-sorteos {
  background: URl('../images/botonconsulta.png') center center no-repeat;
  height: 45px;
  line-height: 45px;
  width: 148px;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  font-family: CalibriBold;
  font-size: 120%;
}
#quicktabs-container-navegacion_internas_baloto .views-exposed-widgets .views-submit-button {
  width: 100%;
  text-align: center;
  float: none;
}
.views-slideshow-cycle-main-frame {
  height: 417px !important;
}
.customStyleSelectBoxInner{
  min-width: 120px;
  display: block;
  height: 28px;
  line-height: 28px;
  background: URL('../images/bkg-select.png') top right no-repeat #fff;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border: #ee8788 solid 2px;
  padding-left: 10px;
  padding-right: 30px;
}
/*balotimetro*/
#-baloto-sorteos-anteriores-form .d-balotas,
#block-baloto-balotimetro-block-balotimetro #t-valores-generados {
  overflow: auto;
}
#-baloto-sorteos-anteriores-form .d-balotas > .form-item,
#block-baloto-balotimetro-block-balotimetro #t-valores-generados > .form-item {
  float: left;
   background: URL('../images/sombra-bal.png') left bottom no-repeat;
  margin-top: 4px;
  margin-bottom: 0PX;
}
#-baloto-sorteos-anteriores-form .d-balotas > .form-item input,
#block-baloto-balotimetro-block-balotimetro #t-valores-generados > .form-item input{
  background: URL('../images/balota-stop.png') center center no-repeat;
  width: 60px;
  height: 60px;
  border: 0px;
  text-align: center;
  color: #3A351F;
  font-family: Arial;
  font-weight: bold;
  font-size: 200%;
  line-height: 60px;
  text-shadow: 0px 0px 1px black;
  margin: 20px 40px 20px 0px;
}
#-baloto-sorteos-anteriores-form .d-balotas > .form-item.form-item-c-seis input,
#block-baloto-balotimetro-block-balotimetro #t-valores-generados > .form-item.form-item-cifra-seis input{
  margin-right: 0px;
}

#-baloto-sorteos-anteriores-form label{
  font-family: CalibriBold;
  font-size: 130%;
  color: white;
}

.d-ganador #edit-ganador-tittle{
  padding-top: 40px;
}

.form-item-selecion-fecha > label{
  padding-bottom: 10px;
}

#block-baloto-balotimetro-block-balotimetro .form-actions {
  text-align: center;
  margin-top: 50px;
}
#baloto-puntos-venta-importacion-form-busqueda .form-submit,
#block-baloto-balotimetro-block-balotimetro .form-submit,
#-baloto-consulta-numeros-sorteos-form .form-submit {
  background: URl('../images/botonconsulta.png') center center no-repeat;
  height: 45px;
  line-height: 45px;
  width: 148px;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  font-family: CalibriBold;
  font-size: 120%;
}
#block-baloto-balotimetro-block-balotimetro #reset {
  background: URl('../images/blueboton.png') center center no-repeat;
  height: 45px;
  line-height: 45px;
  width: 148px;
  border: 0px;
  cursor: pointer;
  text-transform: uppercase;
  color: #FFF;
  font-family: CalibriBold;
  font-size: 120%;
  margin-left: 20px;
}
/*que es baloto*/
.quicktabs-wrapper .quicktabs-wrapper ul.quicktabs-style-navlist {
  float: right;
  margin-top: 100px;
}
.quicktabs-wrapper .quicktabs-wrapper ul.quicktabs-style-navlist li {
  margin: 0px;
  width: 175px;
  height: 70px;
  background: URL('../images/listseconq.png') center center no-repeat;
  position: relative;
  left: 8px;
  white-space: normal;
  line-height: 55px;
  text-align: right;
  margin-top: 5px;
  overflow: hidden;
}
.quicktabs-wrapper .quicktabs-wrapper ul.quicktabs-style-navlist li a{
  font-family: CalibriBold;
  color: #fff;
  height: auto;
  line-height: 15px;
  vertical-align: middle;
  height: 60px;
  display: table-cell;
  width: 175px;
}
.quicktabs-wrapper .quicktabs-wrapper ul.quicktabs-style-navlist li.active {
  background: URL('../images/listseconqactive.png') center center no-repeat;
  border: 0;
}
.quicktabs-wrapper .quicktabs-wrapper ul.quicktabs-style-navlist li.active a{
  color: #db3638;
  font-weight: normal;
}
.quicktabs-wrapper .quicktabs-wrapper #quicktabs-container-que_es_baloto_ {
  float: left;
  width: 500px;
  background: none;
  border: 0;
}
.quicktabs-wrapper .quicktabs-wrapper #quicktabs-container-que_es_baloto_ .field-name-title {
  margin: 0px;
  font-family: CalibriBold;
  font-size: 300%;
  margin-bottom: 20px;
  color: #fff200;
}
.views-field-field-video .field-content > * {
  margin: auto;
}
/*estilos de la vista*/
.view-display-id-comojugar #views_slideshow_controls_text_terminos_uso-comojugar {
  margin-top: 15px;
  text-align: center;
}
#views_slideshow_controls_text_previous_terminos_uso-comojugar {
  width: 26px;
  height: 26px;
  background: URL('../images/anterior.png') center center no-repeat;
  display: inline-block;
  *display: inline;
  zoom:1;
}
#views_slideshow_controls_text_previous_terminos_uso-comojugar:hover {
  background: URL('../images/anterior-hover.png') center center no-repeat;
}
#views_slideshow_controls_text_pause_terminos_uso-comojugar,
#views_slideshow_controls_text_next_terminos_uso-comojugar a,
#views_slideshow_controls_text_previous_terminos_uso-comojugar a {
  display: none;
}
#views_slideshow_controls_text_next_terminos_uso-comojugar{
  width: 26px;
  height: 26px;
  background: URL('../images/siguiente.png') center center no-repeat;
  display: inline-block;
  *display: inline;
  zoom:1;
}
#views_slideshow_controls_text_next_terminos_uso-comojugar:hover {
  background: URL('../images/siguiente-hover.png') center center no-repeat;
}
/*node-que-es-baloto*/
.node-que-es-baloto .field-name-body IMG{
  margin-right: 20px;
}
.node-que-es-baloto .group-left{
  width: 240px;
}
.node-que-es-baloto .field-name-field-imagen IMG {
  border: 5px solid white;
}
.node-que-es-baloto .field-name-field-imagen a IMG:hover{
  -moz-opacity: 0.80;
  opacity: 0.80;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=80);
}
#quicktabs-que_es_baloto_ ~ .item-list {
  position: absolute;
  bottom: 0px;
  left: 400px;
}
#quicktabs-que_es_baloto_ ~ .item-list ul{
  margin: 0px;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li{
  margin: 0px;
  display: inline-block;
  list-style: none;
  *display: inline;
  zoom:1;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li a{
  display: block;
  height: 26px;
  width: 26px;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li.first{
  width: 26px;
  height: 26px;
  background: URL('../images/anterior.png') center center no-repeat;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li.first:hover{
  background: URL('../images/anterior-hover.png') center center no-repeat;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li.last{
  width: 26px;
  height: 26px;
  background: URL('../images/siguiente.png') center center no-repeat;
}
#quicktabs-que_es_baloto_ ~ .item-list ul li.last:hover {
  background: URL('../images/siguiente-hover.png') center center no-repeat;
}
/*inputstyle*/
.webform-component {
  position: relative;
}
.webform-component label {
  position: absolute;
  height: 29px;
  line-height: 31px;
  cursor: text;
  left: 10px;
  font-family: Arial;
  color: #939393;
  font-weight: lighter;
  font-size: 85%;
}

.webform-component input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e7e7e7;
  border: 0;
  padding-left: 10px;
  width: 260px;
  height: 29px;
  line-height: 29px;
}
.webform-component textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #e7e7e7;
  border: 0;
  width: 270px;
}
.webform-component input:focus {
  border: 0;
  outline: none;
}
.webform-client-form input[type=submit] {
  color: white;
  background: url('../images/submit.png') center center no-repeat;
  border: 0px;
  width: 92px;
  height: 32px;
  font-family: Arial;
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
}
.webform-client-form .form-actions {
  width: 270px;
  text-align: right;
}

.node-webform .group-left {
  width: 370px;
}
.node-webform .group-right {
  width: 280px;
  float: right;
}
.node-webform .field-name-logos-contacto {
  margin-top: 70px;
}
/* Preguntas frecuentes */
.view-preguntas-frecuentes {
  font-family: Myriad Pro;
  font-size: 80%;
}
.view-preguntas-frecuentes .views-field-title{
  height: 27px;
  line-height: 27px;
  background: #8a0d10;
  border: 0px;
}
.view-preguntas-frecuentes .views-field-title.ui-state-active {
  background: #fff200;
}
.view-preguntas-frecuentes .views-field-title a {
  font-family: Myriad Pro;
  font-size: 15px;
  font-weight: normal;
  padding: 0px;
  vertical-align: middle;
  color: white;
  padding-left: 40px;
  background: URL('../images/afaq.png') right center no-repeat;
  margin-right: 10px;
}
.view-preguntas-frecuentes .views-field-title.ui-state-active a{
  color: #8a0d10;
  background: URL('../images/afaq-focus.png') right center no-repeat;
}
.view-preguntas-frecuentes .views-field-title .ui-icon {
  display: block;
  background: URL('../images/faq.png') center center no-repeat;
  height: 12px;
  width: 12px;
  top: 15px;
  left: 13px;
}
.view-preguntas-frecuentes .views-field-title.ui-state-active .ui-icon {
  background: URL('../images/faq-focus.png') center center no-repeat;
}
.view-preguntas-frecuentes .ui-accordion-content {
  background: #eab6b7;
  border: #f18687 solid 2px;
  color: #3b3b3b;
  padding: 10px;
}
.view-preguntas-frecuentes .ui-accordion-content .views-field-body {
   font-family: Myriad Pro;
   font-size: 15px;
   font-weight: normal;
   background: URL('../images/faq-content.png') bottom right no-repeat;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a {
  font-weight: normal;
}
#footer #block-block-5{
  float:left;
}
#footer #block-block-6{
  float:right;
}

.region.region-content{
  position: relative;
}
.s-arriba{
  width: 38px;
  height: 13px;
  position: absolute;
  left: 20px;
  top: -12px;
  background: URL('../images/arriba-cont.png') center bottom;
  display: none;
}
.s-abajo{
  display: none;
  width: 38px;
  height: 13px;
  position: absolute;
  left: 20px;
  bottom: -12px;
  background: URL('../images/abajo-cont.png') center top;
}
.s-centro{
  display: none;
  height: 38px;
  width: 13px;
  position: absolute;
  left: -12px;
  bottom: 50px;
  background: URL('../images/center.png') center center;
}
/*wtf*/
#t-numeros-jugados > * {
  display: inline-block;
  zoom:1;
  *display: inline;
}