@charset "utf-8";

@font-face {
	font-family: 'Museo';
    src:	url('../fonts/museo300-regular-webfont.eot');
    src: 	url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         	url('../fonts/museo300-regular-webfont.woff') format('woff'),
         	url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
         	url('../fonts/museo300-regular-webfont.svg#museo_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MuseoBold';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#museo_700regular') format('svg');
    font-weight: normal;
    font-style: normal;

}