@charset "utf-8";
/* Estilos y Temas Slider */

/*──────────────────────────────────────────────────────── Main */
.conNivo {width:660px; height:165px; padding:0; overflow:hidden;}
.slider-wrapper {width: 100%; max-width:660px; margin: 0 auto;}/* Revizar padding de temas para tamaño */
.clear {clear:both;}

/*──────────────────────────────────────────────────────── Nivo */
.nivoSlider {position:relative; width:100%; height:auto; overflow: hidden;}
.nivoSlider img {position:absolute; top:0px; left:0px; max-width: none;}
.nivo-main-image {display: block !important; position: relative !important; width: 100% !important;}
.nivoSlider a.nivo-imageLink {position:absolute; top:0px; left:0px; width:100%; height:100%; border:0; padding:0; margin:0; z-index:6; display:none;}/* If an image is wrapped in a link */
.nivo-slice {display:block; position:absolute; z-index:5; height:100%; top:0;}/* The slices and boxes in the Slider */
.nivo-box {display:block; position:absolute; z-index:5; overflow:hidden;}
.nivo-box img {display:block;}
.nivo-caption {position:absolute; left:0px; bottom:0px; background-color:none; color:#fff; width:100%; z-index:8; padding: 5px 0; opacity: 1.0; overflow: hidden; display: none; -moz-opacity: 1.0; filter:alpha(opacity=10); -webkit-box-sizing: border-box/* Safari/Chrome, other WebKit */; -moz-box-sizing: border-box/* Firefox, other Gecko */; box-sizing: border-box/* Opera/IE 8+ */;}/* Caption styles */
.nivo-caption p {padding:5px; margin:0;}
.nivo-caption a {display:inline !important;}
.nivo-html-caption {display:none;}
.nivo-directionNav a {position:absolute; top:45%; z-index:9; cursor:pointer;}/* Direction nav styles (e.g. Next & Prev) */
.nivo-prevNav {left:0px;}
.nivo-nextNav {right:0px;}
.nivo-controlNav {text-align:center; padding: 15px 0; position:relative; z-index:10;}/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {cursor:pointer;}
.nivo-controlNav a.active {font-weight:bold;}


.cliente1, .cliente2, .cliente3, .cliente4, .cliente5 {width:120px; height:100px; position:absolute; top:15px; background-color:transparent; z-index:100;}
.cliente1 {left:0;}
.cliente2 {left:135px;}
.cliente3 {left:270px;}
.cliente4 {left:405px;}
.cliente5 {left:540px;}

.btSlideMasUno {left:425px; top:190px;}
.btSlideMasDos {left:690px; top:240px;}
.btSlideMasUno, .btSlideMasDos {width:45px; height:45px; background:url(../images/btMasSlide.png) no-repeat; position:absolute; /*Anim.*/ -webkit-animation: cssAnimation 1.7769s 16 ease-in; -moz-animation: cssAnimation 1.7769s 16 ease-in; -o-animation: cssAnimation 1.7769s 16 ease-in;}
@-webkit-keyframes cssAnimation {from {-webkit-transform: rotate(0deg) scale(0.8) skew(0deg) translate(0px);} to {-webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);}}
@-moz-keyframes cssAnimation {from {-moz-transform: rotate(0deg) scale(0.8) skew(0deg) translate(0px);} to {-moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);}}
@-o-keyframes cssAnimation {from {-o-transform: rotate(0deg) scale(0.8) skew(0deg) translate(0px);} to {-o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px);}}

/*──────────────────────────────────────────────────────── Tema Slider */
/* Tema Ventrevista */
.theme-ventrevista .nivoSlider {position:relative; background: url(dyb/loading.gif) no-repeat 50% 50%; margin-bottom:0;}
.theme-ventrevista .nivoSlider img {position:absolute; top:0px; left:0px; display:none; background:url(../images/bgBannerClientes.png) no-repeat;}
.theme-ventrevista .nivoSlider a {border:0; display:block;}
.theme-ventrevista .nivo-controlNav {text-align: center; padding: 12px 0; margin-left:260px;}
.theme-ventrevista .nivo-controlNav a {display:block; width:22px; height:22px; float:left; background:url(dyb/bullets.png) no-repeat; text-indent:-9999px; border:0; margin: 0 2px;}
.theme-ventrevista .nivo-controlNav a.active {background-position:0 -22px;}
.theme-ventrevista .nivo-directionNav a {display:block; width:30px; height:30px; background:url(dyb/arrows.png) no-repeat; text-indent:-9999px; border:0; opacity: 0; -webkit-transition: all 200ms ease-in-out; -moz-transition: all 200ms ease-in-out; -o-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out;}
.theme-ventrevista:hover .nivo-directionNav a {opacity: 1;}
.theme-ventrevista a.nivo-nextNav {background-position:-30px 0; right:15px;}
.theme-ventrevista a.nivo-prevNav {left:15px;}
.theme-ventrevista .nivo-caption {font-family: Helvetica, Arial, sans-serif; height:100%; width:100%;}
.theme-ventrevista .nivo-caption a {color:#fff; border-bottom:1px dotted #fff;}
.theme-ventrevista .nivo-caption a:hover {color:#fff;}
.theme-ventrevista .nivo-controlNav.nivo-thumbs-enabled {width: 100%;}
.theme-ventrevista .nivo-controlNav.nivo-thumbs-enabled a {width: auto; height: auto; background: none; margin-bottom: 5px;}
.theme-ventrevista .nivo-controlNav.nivo-thumbs-enabled img {display: block; width: 120px; height: auto;}
/* Fin Tema Ventrevista */